<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container ">
        <a class="navbar-brand " href="#Home " *ngIf="data.home ">{{data.home.title}}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="mr-auto ">

            </div>
            <ul class="navbar-nav ">
                <a class="nav-link " href="#{{section.title}} " *ngFor="let section of data.sections ">
                    <div data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="true">
                        {{section.title}}
                    </div>
                </a>
            </ul>
        </div>
    </div>
</nav>